@model IEnumerable<Dish>
@{
    ViewData["Title"] = "Меню";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/@item.Image" class="card-img-top" alt="@item.DishName">
                <div class="card-body">
                    <h5 class="card-title">@item.DishName</h5>
                    <p class="card-text">@item.Description</p>
                    <span class="badge bg-secondary">@item.Calories калорий</span>
                    @{
                        var request = ViewContext.HttpContext.Request;
                        var returnUrl = request.Path + request.QueryString.ToUriComponent();
                    }
                    <a asp-action="Add" asp-controller="Cart"
                       asp-route-id="@item.DishId"
                       asp-route-returnUrl="@returnUrl"
                       class="btn btn-primary mt-2">
                        <i class="fa fa-shopping-cart"></i> В корзину
                    </a>
                </div>
            </div>
        </div>
    }
</div>